<header class="root-header">
  <nav class="root-header-nav group">

    <ul class="root-header-list group">
      <li>
        <a href="#">Hi <%= current_user.email %></a>
      </li>
      <li><a href="#">Accounts</a></li>
      <li><form action="<%= session_url %>" method="post"><input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button>Log Out</button></form></li>

    </ul>

  </nav>
</header>

<header class="content-header">
  <nav class="content-header-nav group">

    <h1 class="content-header-logo">
      <a href="#"><img src="<%= asset_path('mint-logo.png') %>" alt="" /></a>
    </h1>

    <ul class="content-header-list group">
      <li><a href="#">Overview</a></li> <!--  Overview component -->
      <li><a href="#">Transactions</a></li> <!--  Transactions component -->
    </ul>

  </nav>
</header>

<main class="root-content group">
  <section class="root-content-sidebar">

    <h1>Accounts</h1> <!--  Accounts component -->

    <h2>Cash</h2>
    <h2>Credit Cards</h2>
    <h2>Loans</h2>
    <h2>Paypal</h2>

  </section>
  <section class="root-content-main">


</main>

<div id="root">
  <h2> test to see if this shit will appear </h2>
</div>
