.legend > li {
  font-size: 14px;
  padding: 5px;
}

ul.legend {
  padding: 2px;
  position: absolute;
  top: 110px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #fff, #f7f7f7);
}


.legend {
  float: left;
}

.legend > li > p {
  float: left;
}

.chart-legend-cat {
  font-weight: 600;
}

.legend > li > p:last-child {
  float: right;
  margin-left: 10px;
}

.chart-header {

}

.h45e661,
 .h45cae6,
 .he645ca,
 .he66145,
 .he6b245 {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  margin-right: 10px;
}

.h45e661 {
  background: #45e661;
}

.h45cae6 {
  background: #45cae6;
}

.he645ca {
  background: #e645ca;
}

.he66145 {
  background: #e66145;
}

.he6b245 {
  background: #e6b245;
}

.chart {
  float: right;
  margin-bottom: 20px;
}

h1.chart-header {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
