.edit-details {
  height: 18px;
  position: relative;
  display: block;
}

.edit-details > button {

}

.edit-details > button:hover {

}

textarea.edit-details-notes {

}

button.edit-details-cancel {
  float: left;
}

button.edit-details-cancel:hover {

}

button.edit-details-submit {
  float: right;
}

.edit-detail-buttons > button {

}


tr.edit-form {
  position: relative;
  background: #666666;
  height: 30px;
  color: black;
}

tr.edit-form:hover {
  background: #666666;
  height: 30px;
}

td > input {
  font-size: 12px;
  width: 100%;
  background: white;
  text-overflow: ellipsis;
  margin-left: -9px;
  padding: 4px;
}

tr.edit-form > td.description {
  padding-right: 2px;
  width: 400px;
}

tr.edit-form > td.category > input {
  margin-left: -6px;
}

td.amount {
  text-align: right;
}

tr.edit-form > td.amount  {
  font-weight: 600;
  color: white;
}

td.edit-details {

  position: relative;
}

button.edit-details {
  background: #666666;
  color: white;
  display: block;
  position: absolute;
  left: -318px;
  top: 35px;
  height: 18px;
  font-weight: 500;
  cursor: pointer;
  font-size: 9px;
  padding: 2px 14px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
