.root-content-main {
  margin-top: 32px;
  float: left;
  margin-left: 9px;
  display: block;
  width: 620px;


}

.root-content-main > h1 {
  font-size: 22px;
  font-weight: 600;
  display: block;
  min-height: 63px;
  border-bottom: 1px solid #dddddd;
}

.root-content-sidebar-show {
  color: #4c3337;
  float: left;
  margin-top: 42px;
  width: 212px;
}

.root-content-sidebar-show > h1 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px 0 10px;
}

.account-types-show-type {
  margin: 10px 0;
  font-size: 15px;
  font-weight: normal;
  padding-left: 15px;
}

.account-types-show-type:first-child {
  padding-top: 10px;
}

.account-types-show-type:hover {
  color: #0ac775;
}

h5 {
  font-size: 22px;
  color: #4ba90a;
  font-weight: normal;
  margin: 0 0 20px 0;
  padding: 0;
}

h6 {
  font-weight: bold;
  color: #999;
  font-size: 11px;
  padding: 10px 0 0 0;
  margin: 0;
}

.transaction-table {
  border-bottom: 1px solid #ddd;
  border-collapse: separate;
  border-left: 1px solid #ddd;
  width: 620px;
  font-size: 12px;
  margin-left: 0;
  vertical-align: middle;
}

.transaction-table-header {
  padding-bottom: 1px;
  padding-left: 9px;
  width: 40%;
}
